.custom-theme {
  .ant-input {
    font-family: "IdealistSans";
    height: fit-content;
    padding: 6px 11px;
  }

  .ant-modal-content {
    border-radius: 20px;
  }

  .ant-form-item-label {
    padding: 0;
  }

  .ant-message-notice-content {
    .anticon-close-circle svg {
      fill: var(--error-color) !important;
    }

    .anticon-check-circle svg {
      fill: var(--hover-primary-color) !important;
    }
  }

  .anticon svg {
    fill: rgba($color: #000000, $alpha: 0.7);
  }

  .ant-collapse {
    background-color: var(--background-color) !important;
    box-shadow: var(--shadow);
  }

  .ant-popover-arrow {
    &::before {
      background-color: transparent;
    }

    &::after {
      box-shadow: none;
    }
  }

  .ant-popover-inner {
    width: fit-content;
    padding: 0;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(1px);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
      0 4px 20px rgba(0, 0, 0, 0.2), 0 0 0 0.5px rgba(255, 255, 255, 0.3);
  }
}
