.custom-theme {
  .ant-input {
    font-family: "IdealistSans";
    height: fit-content;
    padding: 6px 11px;
  }

  .ant-modal-content {
    border-radius: 20px;
  }

  .ant-form-item-label {
    padding: 0;
  }

  .ant-message-notice-content {
    .anticon-close-circle svg {
      fill: var(--error-color) !important;
    }
  }

  .anticon svg {
    fill: rgba($color: #000000, $alpha: 0.7);
  }
}
