:root {
  --primary-color: #c8ff00;
  --hover-primary-color: #b6e900;
  --background-color: #f8f8f8;
  --element-color: #ffffff;
  --text-color: #202020;
  --error-color: #ff7c7c;
  --hover-error-color: #a14545;
  --success-color: #5faf20;
  --hover-success-color: #3e7a0f;
  --shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  --hover-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
